/* 
    General Styles
*/
// body{
//     background-color:green
// }
.trafficl{
    text-align:center;
    background-color: white

}

.red{
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 100px;
     border-radius: 200px;
    background-color: red
    
    
    
}

.yellow{
      margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 100px;
     border-radius: 200px;
    background-color: yellow
 
}
.green{
      margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 100px;
     border-radius: 200px;
    background-color: green
}
