/* 
    General Styles
*/
// body{
//     background-color:green
// }
.trafficl{
    text-align:center;
    background-color: white
}

.red{
    background-color: red
    
}

.yellow{
    background-color: yellow
 
}
.green{
    background-color: green
}
